<br/>
<br/>
<h2>Confirm deletion of orderline</h2>
<br/>
<br/> ID:
            <%=  orderLine._id %>
              <br> orderID:
              <%=orderLine.orderID%>
                <br/> lineNumber:
                <%=orderLine.lineNumber%>
                  <br/> productKey:
                  <%=orderLine.productKey%>
                    <br/>
                      <br/> quantity:
                       <%=orderLine.quantity%>
                         <br/>
                        </div>
                        <br/>
                         <br/>
            <br/>
            <br/>

            <form method="get" action="/orderline">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/orderline/delete/<%= orderline._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>
