<br/>
<h1>eCommerce Site</h1>
<br>
<br>
<h2>Students</h2>
<ul>
    <li>Luke Townsend</li>
    <li>Zachary Haider</li>
    <li>Mouni Krishna Atluri</li>
    <li>Chase Keller</li>
</ul>
<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        <h1>E-commerce!</h1>
        <br/>
        <h2>Use this area to display information. </h2>
        <br/>
        <hr>
        <h3>During development, test your api here.</h3>
        <br/>
        <br/>
        <h4>GET a view Of the Products</h4>
        <h5>
        <ol>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product">https://webapps-a04.herokuapp.com/product</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/create">https://webapps-a04.herokuapp.com/product/create</a>
          </li>
  
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/edit/1">https://webapps-a04.herokuapp.com/product/edit/1</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/edit/2">https://webapps-a04.herokuapp.com/product/edit/2</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/edit/3">https://webapps-a04.herokuapp.com/product/edit/3</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/edit/4">https://webapps-a04.herokuapp.com/product/edit/4</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/delete/1">https://webapps-a04.herokuapp.com/product/delete/1</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/delete/2">https://webapps-a04.herokuapp.com/product/delete/2</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/delete/3">https://webapps-a04.herokuapp.com/product/delete/3</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/delete/4">https://webapps-a04.herokuapp.com/product/delete/4</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/details/1">https://webapps-a04.herokuapp.com/product/details/1</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/details/2">https://webapps-a04.herokuapp.com/product/details/2</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/details/3">https://webapps-a04.herokuapp.com/product/details/3</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/details/4">https://webapps-a04.herokuapp.com/product/details/4</a>
          </li>
        </ol>
    </h5>
        <br/>
        <h4>GET JSON of the Products</h4>
        <h5>
        <ol>
  
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/findall">https://webapps-a04.herokuapp.com/product/findall</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/findone/1">https://webapps-a04.herokuapp.com/product/findone/1</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/findone/2">https://webapps-a04.herokuapp.com/product/findone/2</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/findone/3">https://webapps-a04.herokuapp.com/product/findone/3</a>
          </li>
          <li>
            <a href="https://webapps-a04.herokuapp.com/product/findone/4">https://webapps-a04.herokuapp.com/product/findone/4</a>
          </li>
        </ol>
        <li>
            <a href="https://bitbucket.org/zacharyhaider/607a04/src/master/">Repository</a>
          </li>
  
        </h5>
      </div>
    </div>
  </div>

