<!--Author: 
Mouni Krishna Atluri -->
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

        <br/>
        <h2>Create a new product </h2>
        <br/>
        <% maxID=0; for (var i=0; i < products.query.length; i++) {
        if(products.query[i]._id > maxID) { maxID=products.query[i]._id;   }
        var age = products.query[i].age;}%>
        <div class="content">
        <div>
            <form name="product" method="POST" action="/product/save">

            <div class="form-group" id=frm>
              <label for="_id">product ID</label>
              <input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
            </div>

            <!-- COMMON TO EDIT AND CREATE -->
            <%include partial_edit.ejs%>

            <div class="form-group">
              <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            </form>

          <br/>

          <form method="get" action="/product">
            <input type="submit" value="Return to list" class="btn btn-caution" />
          </form>

        </div>
      </div>
    </div>
  </div>
</div>