<!--Author: 
Mouni Krishna Atluri -->
<br/>
<br/>
<h2>product details</h2>
<br/>
<br/> product ID:
<%=  product._id %>
<br/> productName:
<%=product.productName%>
<br/> productDescription:
<%=product.productDescription%>
<br/> productPrice:
<%=product.productPrice%>
<br />
<br />
<form method="get" action="/product">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>