<!-- Author:
Mouni Krishna Atluri-->

<!-- main  -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="productName">productName</label>
      <input type="text" class="form-control" id="productName" name="productName" value="<%= product.productName %>">
    </div>

    <div class="form-group">
      <label for="productDescription">productDescription</label>
      <input type="text" class="form-control" id="productDescription" name="productDescription" value="<%= product.productDescription %>"
        required>
    </div>

    <div class="form-group">
      <label for="productPrice">productPrice</label>
      <input type="text" class="form-control" id="productPrice" name="productPrice" value="<%= product.productPrice %>"
        required>
    </div>
  </div>
</div>