<!--Author: Luke Townsend -->
<br/>
<br/>
<h2>Confirm deletion of Order</h2>
<br/>
<br/> Order ID:
<%=  order._id %>
<br/> Date Placed:
<%=order.datePlaced%>
<br/> Date Shipped:
<%=order.dateShipped%>
<br/> Email:
<%=order.email%>
<br/> Payment Type:
<%=order.paymentType%>
<br/> Amount Due:
<%=order.amountDue%>
<br/> Paid:
<%=order.paid%>
<br/>
<br/>
<br/>
<br/>

<form method="get" action="/orders">
<input type="submit" value="Return to list" class="btn btn-caution" />
</form>

<br/>
<form method="POST" action="/orders/delete/<%= order._id %>">
<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>