<!--Author: Luke Townsend -->
<br/>
<br/>
<h2>Order details</h2>
<br/>
<br/> Order ID:
<%=  order._id %>
<br/> Date Placed:
<%=order.datePlaced%>
<br/> Date Shipped:
<%=order.dateShipped%>
<br/> Email:
<%=order.email%>
<br/> Payment Type:
<%=order.paymentType%>
<br/> Amount Due:
<%=order.amountDue%>
<br/> Paid:
<%=order.paid%>
<br />
<br />

<form method="get" action="/orders">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>