<!-- Author: Luke Townsend -->

<!-- main  -->
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="datePlaced">Date Placed</label>
      <input type="date" class="form-control" id="datePlaced" name="datePlaced" value="<%= order.datePlaced %>"
        required>
    </div>

    <div class="form-group">
      <label for="dateShipped">Date Shipped</label>
      <input type="date" class="form-control" id="dateShipped" name="dateShipped" value="<%= order.dateShipped %>">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" value="<%= order.email %>"
        required>
    </div>

    <div class="form-group">
      <label for="paymentType">Payment Type</label>
      <input type="text" class="form-control" id="paymentType" name="paymentType" value="<%= order.paymentType %>"
        required>
    </div>

    <div class="form-group">
      <label for="amountDue">Amount Due</label>
      <input type="number" class="form-control" id="amountDue" name="amountDue" value="<%= order.amountDue %>">
    </div>

    <div class="form-group">
      <label for="paid">Paid</label>
      <input type="text" class="form-control" id="paid" name="paid" value="<%= order.paid %>" required>
    </div>
  </div>
</div>